[project]
	description = A jQuery clone for GWT, and much more.
[access "refs/*"]
	owner = group user/Manuel Carrasco (manolo)
[access "refs/for/refs/*"]
	read = group user/Manuel Carrasco (manolo)
	push = group user/Manuel Carrasco (manolo)
	label-Code-Review = -2..+2 group user/Manuel Carrasco (manolo)
	label-Verified = -1..+1 group user/Manuel Carrasco (manolo)
	rebase = group user/Manuel Carrasco (manolo)
	removeReviewer = group user/Manuel Carrasco (manolo)
	submit = group user/Manuel Carrasco (manolo)
[access "refs/heads/*"]
	read = group user/Manuel Carrasco (manolo)
	create = group user/Manuel Carrasco (manolo)
	push = +force group user/Manuel Carrasco (manolo)
	pushMerge = group user/Manuel Carrasco (manolo)
[access "refs/tags/*"]
	push = +force group user/Manuel Carrasco (manolo)
	pushTag = group user/Manuel Carrasco (manolo)
	pushSignedTag = group user/Manuel Carrasco (manolo)
